<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Up-Learn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feather.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="color-theme-blue mont-font scroll-bar" id="body" >
    <div class="preloader"></div>
    <div class="main-wrapper">
        <nav class="navigation scroll-bar">
            <div class="container pl-0 pr-0">
                <div class="nav-content">
                    <div class="nav-top">
                        <a href="/"><i class="feather-slack text-success display1-size mr-3 ml-3"></i><span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xl logo-text mb-0">Up-Learn. </span> </a>
                        <a href="#" class="close-nav d-inline-block d-lg-none"><i class="ti-close bg-grey mb-4 btn-round-sm font-xssss fw-700 text-dark ml-auto mr-2 "></i></a>
                    </div>
                    <div class="nav-caption fw-600 font-xssss text-grey-500"><span>Menu </span>Feeds</div>
                    <ul class="mb-3">
                        <li class="logo d-none d-xl-block d-lg-block"></li>
                        <li><a href="/" class="nav-content-bttn open-font" data-tab="chats"><i class="feather-tv mr-3"></i><span>Home</span></a></li>
                        <li><a href="/projects" class="nav-content-bttn open-font" data-tab="favorites"><i class="feather-globe mr-3"></i><span>Projects</span></a></li>

                        <li><a href="/friends" class="active nav-content-bttn open-font" data-tab="friends"><i class="feather-shopping-bag mr-3"></i><span>Friends</span></a></li>
                        <li><a href="/jobs-internships" class="nav-content-bttn open-font" data-tab="favorites"><i class="feather-play-circle mr-3"></i><span>Jobs & Internships</span></a></li>                        <li class="flex-lg-brackets"><a href="user-profile.html" data-tab="archived" class="nav-content-bttn open-font"><i class="feather-video mr-3"></i><span>Saved Course</span></a></li>                        
                    </ul>
                    <div class="nav-caption fw-600 font-xssss text-grey-500"><span></span> Account</div>
                    <ul class="mb-3">
                        <li class="logo d-none d-xl-block d-lg-block"></li>
                        <li><a href="/settings" class="nav-content-bttn open-font h-auto pt-2 pb-2"><i class="font-sm feather-settings mr-3 text-grey-500"></i><span>Settings</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="main-content">
            <div class="middle-sidebar-header bg-white">
                <button class="header-menu"></button>
                <ul class="d-flex ml-auto right-menu-icon">
                    <a href="/authentication/logout" class="header-btn bg-current fw-500 text-white font-xsss p-2 lh-32 w100 text-center d-inline-block rounded-xl">Logout</a>
                </ul>
            </div>
            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left">

                    <div class="row">
                        <div class="col-lg-12 pt-0 mb-3">
                            <h2 class="fw-400 font-lg d-block">Friend <b> Requests</b></h2>
                        </div>
                        <div class="col-lg-12 pt-2">
                            <div class="owl-carousel category-card owl-theme overflow-hidden overflow-visible-xl nav-none">
                                {% for i in data.friends if i.status != 1 %}
                                    {% if i.user2 == data.username %}
                                        {% for j in data.all_users if i.user1 == j.name %}
                                            <div class="item">
                                                <div class="card w200 d-block border-0 shadow-xss rounded-lg overflow-hidden mb-4">
                                                    <div class="card-body position-relative h100 bg-gradiant-bottom bg-image-cover bg-image-center" style="background-image: url({{ url_for('static', filename='images/bb-16.png') }});"></div>
                                                    <div class="card-body d-block w-100 pl-4 pr-4 pb-4 text-center">
                                                        <figure class="avatar ml-auto mr-auto mb-0 mt--6 position-relative w75 z-index-1"><img src="{{ url_for('static', filename='images/user-11.png') }}" alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                                                        <div class="clearfix"></div>
                                                        <a href="/user-profile/j.name"><h4 class="fw-700 font-xsss mt-3 mb-1">{{ j.name }}</h4></a>
                                                        <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-2">{{ j.email }}</p>
                                                        <a href="/friends/accept/{{ i.user1 }}/{{ i.user2 }}" style="color: white;"><span class="live-tag mt-2 mb-3 bg-success p-2 z-index-1 rounded-lg text-white font-xssss text-uppersace fw-700 ls-3">Accept</span></a>
                                                        <a href="/friends/reject/{{ i.user1 }}/{{ i.user2 }}" style="color: white;"><span class="live-tag mt-2 mb-3 bg-danger p-2 z-index-1 rounded-lg text-white font-xssss text-uppersace fw-700 ls-3">Reject</span></a> 
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 pt-0 mb-3">
                            <h2 class="fw-400 font-lg d-block">Active <b> Users</b></h2>
                        </div>
                        <div class="col-lg-12 pt-2">
                            <div class="owl-carousel category-card owl-theme overflow-hidden overflow-visible-xl nav-none">
                                {% for i in data.all_users %}
                                    {% if i.name != data.username %}
                                        <div class="item">
                                            <div class="card w200 d-block border-0 shadow-xss rounded-lg overflow-hidden mb-4">
                                                <div class="card-body position-relative h100 bg-gradiant-bottom bg-image-cover bg-image-center" style="background-image: url({{ url_for('static', filename='images/bb-16.png') }});"></div>
                                                <div class="card-body d-block w-100 pl-4 pr-4 pb-4 text-center">
                                                    <figure class="avatar ml-auto mr-auto mb-0 mt--6 position-relative w75 z-index-1"><img src="{{ url_for('static', filename='images/user-11.png') }}" alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                                                    <div class="clearfix"></div>
                                                    <a href="/user-profile/{{ i.name }}"><h4 class="fw-700 font-xsss mt-3 mb-1">{{ i.name }}</h4></a>
                                                    <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-2">{{ i.email }}</p>
                                                    <a id="send_req{{ i.name }}" href="/friends/send-request/{{ i.name }}" style="color: white;"><span class="live-tag mt-2 mb-3 bg-current p-2 z-index-1 rounded-lg text-white font-xssss text-uppersace fw-700 ls-3">Send</span></a>    
                                                    {% for j in data.friends %}
                                                        {% if j.user1 == data.username and j.user2 == i.name and j.status == 0 %}
                                                            <span class="live-tag mt-2 mb-3 bg-dark p-2 z-index-1 rounded-lg text-white font-xssss text-uppersace fw-700 ls-3">Sent</span>
                                                            <script>
                                                                document.getElementById("send_req{{ i.name }}").style.display = "none"
                                                            </script>
                                                        {% endif %}
                                                        {% if j.user1 == data.username and j.user2 == i.name and j.status == 1 %}
                                                            <span class="live-tag mt-2 mb-3 bg-success p-2 z-index-1 rounded-lg text-white font-xssss text-uppersace fw-700 ls-3">Friends</span>
                                                            <script>
                                                                document.getElementById("send_req{{ i.name }}").style.display = "none"
                                                            </script>
                                                        {% endif %}
                                                        {% if j.user2 == data.username and j.user1 == i.name and j.status == 1 %}
                                                            <span class="live-tag mt-2 mb-3 bg-success p-2 z-index-1 rounded-lg text-white font-xssss text-uppersace fw-700 ls-3">Friends</span>
                                                            <script>
                                                                document.getElementById("send_req{{ i.name }}").style.display = "none"
                                                            </script>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="middle-sidebar-right right-scroll-bar">
                    <div class="middle-sidebar-right-content">
                        <div class="card overflow-hidden subscribe-widget p-3 mb-3 rounded-xxl border-0">
                            <div class="card-body p-2 d-block text-center bg-no-repeat bg-image-topcenter" style="background-image: url('/static/images/user-pattern.png');">
                                <a href="/settings" class="position-absolute right-0 mr-4"><i class="feather-edit text-grey-500 font-xs"></i></a>
                               
                                <figure class="avatar ml-auto mr-auto mb-0 mt-2 w90"><img src="{{ url_for('static', filename='Uploads/profile-picture/'+data.user.profile_pic) if data.user.profile_pic is not none else url_for('static', filename='images/user-6.png') }}" alt="image" class="float-right shadow-sm rounded-circle w-100"></figure>
                                <div class="clearfix"></div>
                                <a href="/user-profile/{{ data.username }}"><h2 class="text-black font-xss lh-3 fw-700 mt-3 mb-1">{{ data.username }}</h2></a>
                                <h4 class="text-grey-500 font-xssss mt-0"><span class="d-inline-block bg-success btn-round-xss m-0"></span> Available</h4>
                                <div class="clearfix"></div>
                                <!-- <div class="card-body d-flex justify-content-between align-items-end p-4">
                                    <div>
                                        <h4 class="font-xsss text-grey-900 mb-2 d-flex align-items-center justify-content-between mt-2 fw-700">
                                            Dark Mode
                                        </h4>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input dark-mode-switch" id="darkmodeswitch">
                                        <label class="custom-control-label bg-success" for="darkmodeswitch"></label>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-circle text-white btn-neutral sidebar-right">
                    <i class="ti-angle-left"></i>  
                </button>
            </div>            
        </div>
        <div class="app-footer border-0 shadow-lg">
            <a href="/" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
            <a href="follower.html" class="nav-content-bttn"><i class="feather-package"></i></a>
            <a href="live-stream.html" class="nav-content-bttn" data-tab="chats"><i class="feather-layout"></i></a>            
            <a href="#" class="nav-content-bttn sidebar-layer"><i class="feather-layers"></i></a>
            <a href="/settings" class="nav-content-bttn"><img src="{{ url_for('static', filename='images/female-profile.png') }}" alt="user" class="w30 shadow-xss"></a>
        </div>
        <div class="app-header-search">
            <form class="search-form">
                <div class="form-group searchbox mb-0 border-0 p-1">
                    <input type="text" class="form-control border-0" placeholder="Search...">
                    <i class="input-icon">
                        <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
                    </i>
                    <a href="#" class="ml-1 mt-1 d-inline-block close searchbox-close">
                        <i class="ti-close font-xs"></i>
                    </a>
                </div>
            </form>
        </div>
    </div> 
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/apexcharts.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>