<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Up-Learn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feather.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="color-theme-blue">
    <div class="preloader"></div>
    <div class="main-wrap">
        <div class="vertical-wrapper pt-lg--10 pt-5 pb-lg--10 pb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 text-center default-page">
                        <div class="card border-0 text-center d-block">
                            <img src="{{ url_for('static', filename='images/404.png') }}" alt="icon" class="w200 mb-4 ml-auto mr-auto ">
                            <h1 class="fw-700 text-grey-900 display4-size display4-md-size">Oops! It looks like you're lost.</h1>
                            <p class="text-grey-500 font-xss">The page you're looking for isn't available. Try to search again or use the go to.</p>
                            <a href="/" class="p-3 w175 bg-current text-white d-inline-block text-center fw-600 font-xssss rounded-lg text-uppercase ls-3">Home Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>